.object-record-block-style-wrapper {
  max-width: 1200px !important;
  margin: auto !important;
}

.submission-frame::-webkit-scrollbar {
  display: none;
}

.submission-frame {
  overflow-y: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

.commentTextarea {
  outline: none !important;
}

.lessonProgressSearch input {
  border-bottom: none !important;
  margin: 0 !important;
}

.lessonProgressSearch
  input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.tribute-container {
  max-height: 150px;
  overflow-y: auto;
}

.tribute-container::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.tribute-container ul {
  background: #fff;
  box-shadow: 0px 3px 8px 0px #00000029;
}

.tribute-container li {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #414042;
}

.tribute-container li:hover {
  background-color: #ebf6f6 !important;
}

.tribute-container li.highlight {
  background-color: #ebf6f6 !important;
}

.mention {
  background-color: #f0f8ff; /* Light blue background */
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: bold;
}

#html-objects {
  border: 1px solid #d3d3d3 !important;
  border-radius: 4px !important;

  &:hover {
    border: 1px solid var(--primary-color) !important;
  }

  &:active {
    border: 1px solid var(--primary-color) !important;
  }

  &:focus {
    border: 1px solid var(--primary-color) !important;
  }
}

.html-objects-reply {
  border: 1px solid #d3d3d3 !important;
  border-radius: 4px !important;

  &:hover {
    border: 1px solid var(--primary-color) !important;
  }

  &:active {
    border: 1px solid var(--primary-color) !important;
  }

  &:focus {
    border: 1px solid var(--primary-color) !important;
  }
}

.dx-popup-content {
  max-height: 100px !important;
}

.dx-mention {
  background: #ebf6f6 !important;
}

picture img {
  object-fit: cover !important;
}
.awc-Richtext-Content blockquote {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 32px !important;
  border: none !important;
}

/* Basic loader overlay styling */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  opacity: 1;
  transition: opacity 1s ease; /* Fading effect */
  z-index: 999999999999 !important;
}
/* Spinner styles */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

/* Text styling */
.loader-message p {
  margin: 5px 0;
  color: #333;
  font-size: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide the loader once faded out */
.loader.fade-out {
  opacity: 0;
  visibility: hidden;
}

.outlineButton {
  background: transparent !important;
  border: 1px solid #007b8e !important;
  padding: 8px 12px !important;
  outline: none !important;
  margin: 0 !important;
  transition: 0.2s ease-in-out;
  color: #007b8e !important;

  &:hover {
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
    color: white !important;

    svg {
      path {
        fill: white !important;
      }
    }
  }

  &:active {
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
    color: white !important;
    fill: white !important;
  }

  &:focus {
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
    color: white !important;
    fill: white !important;
  }
}

.primaryButton {
  background: #007b8e !important;
  border: 1px solid #007b8e !important;
  padding: 8px 12px !important;
  outline: none !important;
  margin: 0 !important;
  transition: 0.2s ease-in-out;

  &:hover {
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }

  &:active {
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }

  &:focus {
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }
}

.faintButton {
  background: #ebf6f6 !important;
  border: 1px solid #ebf6f6 !important;
  padding: 8px 12px !important;
  outline: none !important;
  margin: 0 !important;
  transition: 0.2s ease-in-out;

  &:hover {
    color: white;
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }

  &:active {
    color: white;
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }

  &:focus {
    color: white;
    background: #007b8e !important;
    border: 1px solid #007b8e !important;
    outline: none !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }
}

.primaryInput {
  background: white !important;
  border: 1px solid #d3d3d3 !important;
  border-radius: 4px !important;
  padding: 8px 0 !important;
  box-shadow: none !important;
  outline: none !important;
  height: unset !important;
  margin: 0 !important;

  &:active {
    background: white !important;
    border: 1px solid #d3d3d3;
    box-shadow: none !important;
    outline: none !important;
  }

  &:focus {
    background: white !important;
    border: 1px solid #d3d3d3;
    box-shadow: none !important;
    outline: none !important;
  }
}

.primarySelect {
  display: block !important;
  background: transparent !important;
  padding: 8px 12px !important;
  height: unset !important;
  border: 1px solid #007b8e !important;
  outline: none !important;
  box-shadow: none !important;
  width: max-content !important;
}

input {
  margin: 0 !important;
}

.formInput {
  border: 1px solid #d3d3d3 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  outline: none !important;
  height: unset !important;
  width: calc(100% - 24px) !important;

  &:hover {
    border: 1px solid var(--primary-color) !important;
    box-shadow: none !important;
  }

  &:active {
    border: 1px solid var(--primary-color) !important;
    box-shadow: none !important;
  }

  &:focus {
    border: 1px solid var(--primary-color) !important;
    box-shadow: none !important;
  }
}

.formTextArea {
  border: 1px solid #d3d3d3 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  outline: none !important;
  width: 100% !important;

  &:hover {
    border: 1px solid var(--primary-color) !important;
    box-shadow: none !important;
  }

  &:active {
    border: 1px solid var(--primary-color) !important;
    box-shadow: none !important;
  }

  &:focus {
    border: 1px solid var(--primary-color) !important;
    box-shadow: none !important;
  }
}

.formCheckbox {
  opacity: 1 !important;
  pointer-events: all !important;
  position: relative !important;
}

.roundedButton {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  border-radius: 12px !important;
  border: 1px solid #bbbcbb !important;
  outline: none !important;
  background: transparent important;
  width: max-content !important;
  padding: 4px 8px !important;
  transition: 0.2s ease-in-out;
  color: var(--primary-color) !important;
  cursor: pointer !important;

  svg {
    path {
      transition: 0.2s ease-in-out;
      fill: var(--primary-color) !important;
    }
  }

  &:hover {
    border: 1px solid var(--primary-color) !important;
    background: var(--primary-color) !important;
    box-shadow: none !important;
    color: white !important;

    svg {
      path {
        fill: white !important;
      }
    }
  }
}

.roundedButton.upVoted {
  border: 1px solid var(--primary-color) !important;
  background: var(--primary-color) !important;
  box-shadow: none !important;
  color: white !important;

  svg {
    path {
      fill: white !important;
    }
  }
}

.voted {
  border: 1px solid var(--primary-color) !important;
  background: var(--primary-color) !important;
  box-shadow: none !important;
  color: white !important;

  svg {
    path {
      fill: white !important;
    }
  }
}
