.object-record-block-style-wrapper {
  max-width: 1200px !important;
  margin: auto !important;
}

.progress-container {
  width: 100%;
  background-color: #BBBCBB;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 6px;
  background-color: var(--primary);
  border-radius: 10px;
  transition: width 0.3s ease;
}